.create-user.d-flex {
    padding: 10px;
    justify-content: end;
}

.user-create-submit{
    justify-content: end;
}
.submit-button {
    width: 10%;
}
.table-hover tbody tr:hover {
    background-color: #f0f0f0;
}
